#box {
  font-family: 'M PLUS Rounded 1c', sans-serif;

  display: flex;
  flex-direction: column;
  padding: 2rem;

  margin: auto;
  margin-top: 2rem;
  min-width: 300px;

  background-color: rgb(226, 157, 197);
  opacity: 97%;
  position: absolute;

  align-self: center;

  border-radius: 20px;
  border-color: rgb(170, 8, 89);
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px 50px;
}

#formBox {
  border-style: solid;
  padding: 1rem;
}

.input {
  border-style: solid;

  margin-top: 2rem;
}

.buttons {
  border-style: solid;
  display: flex;
  justify-content: space-around;
  margin:auto;
  margin-top: 2rem;
}

