.box {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    margin-top: 5rem;
    background-color: rgb(199, 195, 197);
    border-radius: 20px;
    border-color: rgb(170, 8, 89);
    border-style: solid;
    border-width: 2px;
}

#addDiv {
}

#btnAdd {
    border-radius: 20px;
}