#box {

  font-family: 'M PLUS Rounded 1c', sans-serif;
  
  display: flex;
  flex-direction: column;
  padding: 2rem;
  
  margin-top: 3rem;
  min-width: 300px;

  background-color: rgb(226, 157, 197);
  opacity: 97%;
  position: absolute;

  align-self: center;

  border-radius: 20px;
  border-color: rgb(170, 8, 89);
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px 50px;
}

#inputDiv {
  margin-top: 2rem;
}

#input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
