.box {
  font-family: 'M PLUS Rounded 1c', sans-serif;

  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 100px;
  min-width: 300px;
  max-width: 80%;


  background-color: rgb(228, 228, 228);
  opacity: 97%;
  position: absolute;

  align-self: center;

  border-radius: 20px;
  border-color: rgb(170, 8, 89);
  border-style: solid;
  border-width: 2px;
  box-shadow: 10px 10px 50px;
}

#closeDiv {
  position: absolute;
  align-self: flex-end;
  margin: 8px 8px;
}

.body {

  padding: 2rem;
}
