* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comic Neue', cursive;
  background-image: url('https://pbs.twimg.com/media/D8NKVtxXsAA485f.jpg:large');
  text-align: center;

}

ul {
  list-style: none;
}


