* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  height: 100%;
  font-family: 'Comic Neue', cursive;
  background-image: url('./img/bg.jpg');
  text-align: center;
}

ul {
  list-style: none;
}

