#Nav {
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#buttons {
  display : flex;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}

